<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Welcome to the mipper port scanner</h1>

<form class="form" action="test.html" method="post">
  <label for="Host">HOST IP ADDRES</label><br>
  <input type="text" id="Host"name="Host" value="127.0.0.1"><br>
  <label for="sport">START PORT</label><br>
  <input type="text" id="sport" name="sport" value="1"><br>
  <label for="eport">END PORT</label><br>
  <input type="text" id="eport" name="eport" value="2"><br>
  <label for="threads">THREADS</label><br>
  <input type="text" id="threads" name="threads" value="1"><br>
  <input type="radio" id="TCP" name="TCP" value="TCP connect scan">
  <label for="TCP">TCP</label>
  <input type="radio" id="TCP SYN ACK" name="TCP SYN ACK" value="TCP SYN ACK scan">
  <label for="TCP SYN ACK">TCP SYN ACK</label>
  <input type="radio" id="UDP" name="UDP" value="UDP scan">
  <label for="UDP">UDP</label>
  <input type="radio" id="XMAS" name="XMAS" value="XMAS scan">
  <label for="XMAS">XMAS</label><br>
  <input type="submit" value="GO!!!!">
</form>

</body>
</html>
